body {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  font-size: 14px;
  font-family: -apple-system, Helvetica, sans-serif;
  color: #666;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.open_app {
  height: 45px;
  background-color: #333;
}

.open_app ul li {
  float: left;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.open_app ul li:nth-child(1) {
  width: 8%;
}

.open_app ul li:nth-child(2) {
  width: 10%;
  vertical-align: middle;
}

.open_app ul li:nth-child(3) {
  width: 57%;
  color: white;
  padding: 2px 0 0;
}

.open_app ul li:nth-child(4) {
  width: 25%;
  color: white;
  background-color: #f63515;
  padding: 2px 0 0;
}

.nav {
  position: relative;
  height: 44px;
  background-color: #c82519;
}

.tab_more {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
}

.tab_more span {
  margin: 14px 0 0 15px;
  width: 20px;
  height: 18px;
  display: block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAgAgMAAAAdw9KTAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURUdwTP///////////waf0AoAAAADdFJOUwDjSYAlncUAAAAbSURBVBjTY5j/Hwq+MdTDmH+RmUgK6AuGhcsAU5tyB6Ji+x0AAAAASUVORK5CYII=) no-repeat;
  background-size: 100%;
}

.login_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  line-height: 44px;
  color: white;
}

.search_box {
  height: 100%;
  margin: 0 50px;
}

.search_box span {
  display: inline-block;
  height: 30px;
  width: 100%;
  margin: 7px 0 0;
  background-color: white;
  border-radius: 15px;
  border: none;
}

.search_icon {
  position: relative;
  display: block;
  margin: 8px 8px 0 15px;
  height: 15px;
  width: 20px;
  background-color: violet;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAeCAMAAABpA6zvAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAzUExURUdwTOo8Puo7Peo7Pek7Peo7Pe0/Qek7PvE+SP9SUuo7Peo7Peo7Pus8P+o7Peo7Pek7PZSxd20AAAAQdFJOUwBV8eG+hyGkEQbGmWs/rthNA0r+AAAA5klEQVQ4y63T0RaDIAgAUEDRUjP//2u3CI/T1vJhvM3uVBAANGx5xwLgiwSZ3TI6uMYANSyuc7AUs03CUvgHRMTEflcZ76FezDGJTE/wTYNI9whhDePhNxAcDVveQWDJbgK6Y8FPQDBH2WdgPlZmYNQvj5D7tP8Ap4+2s8lQX56g4AK34bGPshJ8gbl/wrXoASOUDanlgvVFB3g2T5sGZ2on9xCp23BJ8tusPVzw7O/zhuxtHSIZDYGRo891WUemjeVZgsu4kmY8ju8Ifb2f/i3WV+/gzq0Zgs0xba0eHCSsj4zLR91f1fAfiWsqzlEAAAAASUVORK5CYII=) no-repeat;
  background-size: 20px 15px;
  float: left;
}

.search_icon::after {
  content: '';
  position: absolute;
  display: block;
  height: 16px;
  border-right: 1px solid #ddd;
  top: 0px;
  left: 26px;
}
