@import "../fonts/iconfont.css";

.w {
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.main_color {
  color: #c81623;
}

.shortcut {
  height: 32px;
  background-color: #f1f1f1;
  line-height: 32px;
}

.shortcut ul li {
  float: left;
}

.shortcut .fr ul li:nth-child(even) {
  width: 1px;
  height: 12px;
  margin: 10px 15px 0;
  background-color: #666;
}

.arrow_icon::after {
  content: '\e665';
  font-family: 'iconfont';
  margin-left: 10px;
}

.header {
  position: relative;
  height: 105px;
  background-color: snow;
}

.logo {
  position: absolute;
  width: 175px;
  height: 56px;
  top: 25px;
}

.logo h1 {
  height: 100%;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(http://www.ciscomfg.net/img/logo.png);
  font-size: 0;
}

.search {
  position: absolute;
  top: 25px;
  left: 346px;
  width: 538px;
  height: 36px;
  border: 2px solid #b1191a;
}

.search input {
  position: absolute;
  width: 454px;
  height: 32px;
  padding-left: 15px;
}

.search button {
  position: absolute;
  width: 80px;
  height: 32px;
  right: 0px;
  background-color: #b1191a;
  color: white;
  font-size: 16px;
}